<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
  <!-- 
  <Properties>  
    <Property name="basePath">logs</Property>
  </Properties>
 -->
   
  <Appenders>
    <RollingFile name="fileLogger"      
      fileName="logs/site_map.log"
      filePattern="logs/site_map-%d{yyyy-MM-dd}.log">
      <PatternLayout>
        <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
        </pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy />
        <TimeBasedTriggeringPolicy interval="1" modulate="true" />
        <SizeBasedTriggeringPolicy size="2MB" />        
      </Policies>      
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="INFO" additivity="false">
      <appender-ref ref="fileLogger" />
    </Root>
  </Loggers>
</Configuration>